<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.xuyiming.cmfz.dao.PictureDao">

    <resultMap id="pictureMap" type="Picture">
        <id property="pictureId" column="picture_id"></id>
        <result property="picturePath" column="picture_path"></result>
        <result property="pictureDate" column="picture_date"></result>
        <result property="pictureDescription" column="picture_description"></result>
        <result property="pictureStatus" column="picture_status"></result>
    </resultMap>
    
    <select id="selectPictureByPage" resultMap="pictureMap">
        select * from picture limit #{begin},#{size}
    </select>

    <select id="selectPicturePathByStatus" resultType="String">
        select picture_path from picture where picture_status = "发布"
    </select>

    <select id="selectPictureCout" resultType="int">
        select count(*) from picture
    </select>

    <update id="updatePicture">
        update
            picture
        set
            picture_status = #{pictureStatus} ,
            picture_date = #{pictureDate},
            picture_description = #{pictureDescription}
        where
            picture_id = #{pictureId}
    </update>

    <insert id="insertPicture">
        insert into
            picture
        (
            picture_status,
            picture_date,
            picture_description,
            picture_path
        )values(
            #{pictureStatus},
            #{pictureDate},
            #{pictureDescription},
            #{picturePath}
        )
    </insert>

</mapper>
