<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ArticleDao">

    <resultMap id="articleMap" type="Article">
        <id property="articleId" column="article_id"></id>
        <result property="articleName" column="article_name"></result>
        <result property="masterId" column="master_id"></result>
        <result property="introduction" column="introduction"></result>
        <result property="publishDate" column="publish_date"></result>
    </resultMap>

    <insert id="insertArticle">
        insert into
            article
        (
            article_id,
            article_name,
            master_id,
            introduction,
            publish_date
        )values(
            #{articleId},
            #{articleName},
            #{masterId},
            #{introduction},
            #{publishDate}
        )
    </insert>

    <select id="selectArticle" resultMap="articleMap">
        select * from article limit #{begin},#{size}
    </select>

    <select id="selectCount" resultType="int">
        select count(*) from article
    </select>

</mapper>
